[Unit]
Description="Uniswap V2 arbitrage bot 2 WETH"

[Service]
User=bot
Group=bot
Type=simple
ExecStart=/usr/bin/uni-v2-bot
EnvironmentFile=/uni-v2-bot.env

[Install]
WantedBy=multi-user.target