[Unit]
Description="Uniswap V2 arbitrage bot 2 WETH"

[Service]
User=bot
Group=bot
Type=simple
ExecStart=home/quentin/workspace/arbitrage/uni-v2-bot/target/release/uni-v2-bot
EnvironmentFile=/uni-v2-bot.env

[Install]
WantedBy=multi-user.target